html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    font-family: monospace;
}

h1 {
    font-size: 4em;
    font-family: 'Bauhaus 93';
}

h2 {
    font-size: 3em;
}

p {
    font-size: 1rem;
}

.custom-logo {
    width: 200px;
    height: auto;
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 5px;
}

.navbar-brand {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.nav-btn {
    background: #232323;
    border-radius: 10px;
    margin-left: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fca311;
}

.mb-3 {
    margin-bottom: 0;
}

.banner {
    z-index: 0;
    object-fit: cover;
    filter: brightness(60%);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
}

.banner-dimension {
    height: 500px;
}

.elevated > * {
    z-index: 10;
}

.background-fade {
    z-index: -1;
    background: linear-gradient(rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%);
}

.palette-yellow {
    background: #fca311;
}

.palette-yellow-text {
    color: #fca311;
}

.row .featured-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.featured-group {
    margin: 0 10px 50px;
}

.featured-info {
    color: #FFFFFF;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.featured-btn {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    color: inherit;
}

.featured-btn:hover {
    color: inherit;
}

.featured-btn:active {
    margin-left: 5px;
}

.featured-img-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured-img {
    width: max-content;
    height: auto;
    max-height: 400px;
    justify-content: center;
    padding: 20px;
}

.description {
    max-width: 300px;
    text-align: justify;
}

.card-group {
    display: flex;
}

.card {
    margin: 30px 0;
    padding: 0;
    border-radius: 10px;
}

.movie-card {
    height: 400px;
}

.album-card {
    height: 300px;
}

.card-img-top {
    display: block;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: auto;
}

.card a {
    text-decoration: none;
    color: inherit;
    border-radius: 10px;
}

.card-body {
    padding: 8px;
}

.card-body p {
    font-size: 1rem;
    white-space: break-spaces;
}

.movie-card a {
    height: 398px;
}

.album-card a {
    height: 338px;
}

.card a:hover {
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))
}

.thumbnail {
    width: 250px;
}

td .admin-btns {
    display: flex;
    flex-direction: column;
}

td .admin-btns a {
    margin-top: 10px;
}

.details-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.details-item-title {
    font-size: 1.2rem;
    font-weight: bolder;
}

.resizable-input {
    resize: vertical;
    overflow: auto;
}

@media (max-width: 1400px) {
    .movie-card {
        height: 350px;
    }

    .album-card {
        height: 300px;
    }

    .movie-card a {
        height: 348px;
    }

    .album-card a {
        height: 298px;
    }
}

@media (max-width: 1200px) {
    .card {
        margin: 15px 0;
        height: auto;
    }

    .card-img-top {
        width: 100%;
        height: auto;
    }

    .card-body p {
        font-size: 0.8rem;
    }

    .movie-card {
        height: 300px;
    }
    
    .album-card {
        height: 250px;
    }

    .movie-card a {
        height: 298px;
    }
    
    .album-card a {
        height: 248px;
    }
}

@media (max-width: 991px) {
    .movie-card {
        height: 220px;
    }

    .album-card {
        height: 210px;
    }

    .movie-card a {
        height: 218px;
    }

    .album-card a {
        height: 208px;
    }
}

@media (max-width: 769px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.8em;
    }

    .banner-dimension {
        height: 500px;
    }

    .featured-info {
        width: 50%;
    }

    .featured-img-box {
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    .featured-img {
        width: 100%;
        height: auto;
    }

    .card-group {
        flex-direction: column;
    }

    .card-group .row .col-md-2 {
        width: 100%;
    }

    .card-body p {
        font-size: 1.2rem;
    }

    .movie-card, .album-card {
        height: auto;
    }

    .movie-card a, .album-card a {
        height: auto;
    }

    .background-fade {
        background: linear-gradient(rgba(0,0,0,1) 0%, rgba(255,255,255,1) 5%);
    }
}

@media (max-width: 575px) {
    .nav-btn {
        width: auto;
        margin: 10px 0;
        padding: 10px 15px;
        text-align: center;
        font-size: larger;
    }

    .banner-dimension {
        height: 350px;
    }

    .featured-group {
        width: 100%;
    }

    .featured-info h1 {
        font-size: 1.4rem;
    }

    .featured-info h2 {
        font-size: 1rem;
    }

    .featured-info p {
        font-size: 0.9rem;
    }
}

@media (max-width: 320px) {
    .background-fade .container {
        width: 100%;
    }

    .featured-group {
        margin-left: 0;
    }

    .featured-info {
        max-height: 350px;
        padding: 10px 0 0 0;
        justify-content: start;
    }

    .featured-img {
        padding: 20px 0 0 0;
    }

    .tbl-row-group > * {
        display: block;
    }

    .details-btns > * {
        margin: 5px 0;
        width: 75%;
    }
}

@media (max-width: 250px) {
    .featured-group {
        margin: 0;
    }
}

@media (max-width: 150px) {
    .banner-dimension {
        height: 150px;
    }
}