@page
@model INET_2005_Final_Project.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit";

    string imagePath = "/photos/" + Model.Product.FileName;
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <img src="@imagePath" class="img-fluid" alt="Image of media to edit" />
    </div>

    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ProductId" />
            <input type="hidden" asp-for="Product.FileName" />

            <div class="mb-3">
                <label asp-for="Product.ProductName" class="control-label"></label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Product.FileName" class="control-label"></label>
                <input type="file" asp-for="ImageUpload" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="Product.Description" class="control-label"></label>
                <textarea asp-for="Product.Description" class="form-control resizable-input"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            
            <div class="mb-3 form-check">
                <p>Movie or Album</p>
                @Html.RadioButtonFor(model => model.Product.isMovie, "true") Movie<br />
                @Html.RadioButtonFor(model => model.Product.isMovie, "false") Album<br />
            </div>
            
            <div class="mb-3">
                <label asp-for="Product.Runtime" class="control-label"></label>
                <input asp-for="Product.Runtime" class="form-control" />
                <span asp-validation-for="Product.Runtime" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="Product.Condition" class="control-label"></label>
                <select asp-for="Product.Condition" asp-items="Model.SelectConditionList" class="form-control">
                    <option value="">--- Select ---</option>
                </select>
            </div>
            
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" /> &nbsp;&nbsp;
                <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
