@page
@model INET_2005_Final_Project.Pages.CheckoutModel

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>

<div class="text-danger text-center">
    <p>@Model.validationMessage</p>
</div>

<div class="row">
    <form method="post">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="apiContent.name" class="control-label">Name</label>
                <input asp-for="apiContent.name" class="form-control" />
                <span asp-validation-for="apiContent.name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="apiContent.address" class="control-label">Address</label>
                <input asp-for="apiContent.address" class="form-control" />
                <span asp-validation-for="apiContent.address" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="apiContent.city" class="control-label">City</label>
                <input asp-for="apiContent.city" class="form-control" />
                <span asp-validation-for="apiContent.city" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="apiContent.province" class="control-label">Province</label>
                <input asp-for="apiContent.province" class="form-control" />
                <span asp-validation-for="apiContent.province" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="apiContent.postalCode" class="control-label">Postal Code</label>
                <input asp-for="apiContent.postalCode" class="form-control" />
                <span asp-validation-for="apiContent.postalCode" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="apiContent.country" class="control-label">Country</label>
                <input asp-for="apiContent.country" class="form-control" />
                <span asp-validation-for="apiContent.country" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="apiContent.ccNumber" class="control-label">Credit Card</label>
                <input asp-for="apiContent.ccNumber" class="form-control" />
                <span asp-validation-for="apiContent.ccNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="apiContent.ccExpiryDate" class="control-label">Credit Card Expiration (MMYY)</label>
                <input asp-for="apiContent.ccExpiryDate" class="form-control" />
                <span asp-validation-for="apiContent.ccExpiryDate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="apiContent.cvv" class="control-label">CVV</label>
                <input asp-for="apiContent.cvv" class="form-control" />
                <span asp-validation-for="apiContent.cvv" class="text-danger"></span>
            </div>

            <div class="details-btns text-center">
                <input type="submit" value="Place Order" class="btn palette-yellow" />
                <a asp-page="./ShoppingCart" class="btn btn-dark">Return to Cart</a>
            </div>
        </div>
    </form>
</div>
