@page
@model INET_2005_Final_Project.Pages.Admin.LogoutModel
@{
}

<h1>Logout</h1>

<h3>You have been successfully logged out.</h3>

<p>Go to <a asp-page="/Admin/Login">Login</a></p>

<p>Go to <a asp-page="/Index">Home Page</a></p>